{% extends 'base.html' %}

{% block title %}
Страница главная
{% endblock %}

{% block content %}
<h1>Главная страница</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Eum impedit nisi nobis pariatur!</li>
<li>At earum magnam placeat tenetur.</li>
<li>Doloremque doloribus quidem rerum voluptatum.</li>
<li>Dolorum iusto nulla quasi ratione?</li>
<li>Atque consectetur doloremque ipsam officia!</li>
<li>Accusamus cupiditate eaque itaque pariatur.</li>
<li>Ducimus ipsum quis tenetur vero.</li>
<li>Cumque eaque eligendi iusto rem.</li>
<li>Autem debitis deserunt explicabo odit.</li>

{% endblock %}